.img-container {
  display: flex;
  flex direction: row;
}

img {
  max-width: 100%;
  height:auto
}

th {
  font-weight: bold;
}

th, td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-left:20%;
}


@media (min-width: 600px){
  p, h3, ol {
    padding-left: 25%;
  }
  .caption {
    width: 20%
  }
}

@media (max-width: 600px){
  p, h3, ol {
    padding-left: 0;
  }
  .caption {
    max-width: 50%
  }
}
